<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AZUS_Transport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="AZUS_Transport.Properties.Settings.ASUZ_Transport_DBConnectionString"
            connectionString="Data Source=LAPTOP-GS814L6V;Initial Catalog=ASUZ_Transport_DB;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="AZUS_Transport.Properties.Settings.DataSourceConnectionString"
            connectionString="Data Source=LAPTOP-GS814L6V;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="AZUS_Transport.Properties.Settings.ASUZ_Transport_DBConnectionString1"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Properties\DataSources\ASUZ_Transport_DB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AZUS_Transport.Properties.Settings>
            <setting name="tbLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="tbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="dataTime" serializeAs="String">
                <value />
            </setting>
        </AZUS_Transport.Properties.Settings>
    </userSettings>
</configuration>